name: Test Python

on: [push, pull_request]

jobs:
    test:

        runs-on: ubuntu-latest
        strategy:
          matrix:
            python-version: ["3.11", "3.12", "3.13"]

        steps:
        - uses: actions/checkout@v4

        - name: Install uv and Set up Python
          uses: astral-sh/setup-uv@v5
          with:
            enable-cache: true
            python-version: ${{ matrix.python-version }}

        - name: Display Python version
          run: python -V

        - name: Install the project
          run: uv sync --all-extras --dev

        - name: Run tests
          # For example, using `pytest`
          run: uv run pytest tests
